# Solving matrix using simultaneous equation

Problem Statement: Solve following matrix 

x + y + z = 6
2y + 5z = -4
2x + 5y -z = 27

In [1]:
import numpy as np #Import the numpy module to using linear algebra function

In [2]:
A=[[1,1,1],[0,2,5],[2,5,-1]] #Based on given inputs on left side of equation, create an array of lists

In [3]:
B=[6,-4,27] #Based on given inputs on right side of equation, create a list

In [4]:
x=np.linalg.solve(A,B) #Using numpy linear algebra function to calculate linear equation

In [5]:
print(x) #Print the output of resultant x

[ 5.  3. -2.]

Lets validate the results by putting the values back into equation

x=5, y=3 and z=-2

Put the values into below given equation to validate the results
x + y + z = 6
2y + 5z = -4
2x + 5y -z = 27

In [6]:
#First Equation
#x + y + z = 6
print((5)+(3)+(-2))

6

In [7]:
#Second Equation
#2y + 5z = -4
print(2*(3) + 5*(-2))

-4

In [8]:
#Third Equation
#2x + 5y -z = 27
print(2*(5) + 5*(3) - 1*(-2))

27

Based on validation, the values are matching with the values given in the right side of equation.
x + y + z = 6
2y + 5z = -4
2x + 5y -z = 27

This concludes the program.

# Finding the intercept, coefficient value and error term.

The following dataset of size n = 31 provides employee-wise
salary. The variables are y = salary of an individual employee and
x = years of experience of each individual employee .
Find the intercept, coefficient value and error term for this
regression problem in Python. How would you convey (interpret)
these results in a business context?

In [9]:
#import required libraries
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
import math

In [10]:
#Getting the Salary data into dataset dataframe 
dataset = pd.read_csv('Salary_Data.csv')

In [11]:
#Listing top 5 rows to see successful read operation
dataset.head()

   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0
2              1.5  37731.0
3              2.0  43525.0
4              2.2  39891.0

In [12]:
# Extracting dataframe data into x & y columns 
x=dataset['YearsExperience'].values.reshape(-1,1)
y=dataset['Salary'].values.reshape(-1,1)

In [13]:
#Using Linear Regression fit method for x & Y values
reg = LinearRegression()
reg.fit(x,y)

LinearRegression()

In [14]:
# Print the required coefficient and intercept values for current assignment
print ('Coefficient obtained is' , reg.coef_)
print ('Intercept obtained is', reg.intercept_)

Coefficient obtained is [[9449.96232146]]
Intercept obtained is [25792.20019867]

In [15]:
# Getting the size of data set to use for calculating error terms
num_data = x.shape[0]
print (num_data)

30

In [16]:
# Using linear regression predict method on x values to predict y values
y_pred = reg.predict(x)

# Calculating mean squared error with known data set y and predicted data set y_pred
mse = mean_squared_error(y,y_pred)

# Calculating root mean square error
rmse = math.sqrt(mse)

# Calculating root square error
rse = mse * num_data
rse /= num_data -2
rse = math.sqrt(rse)

# Calculating r-square error 
r2_score=reg.score(x,y)

In [17]:
# Print all errors obtained from above calculations
print ('RMSE: ',rmse)
print ('RSE: ',rse)
print ('R2 Score: ', r2_score)

RMSE:  5592.043608760661
RSE:  5788.3150511193935
R2 Score:  0.9569566641435086